*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Comfortaa';
    color: white;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.back{
    background: #0E0C38 url("img/main.png") no-repeat;
    background-size: contain;
}
.head{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 150px;
    width: 180px;
    background: url("img/logo.png") no-repeat 0 65px;
    background-size: contain;
}
.head ul{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.head ul li:last-child button{
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 22px 36px 22px 36px;
    color: white;
    background: transparent;
    cursor: pointer;
}
.head ul li:not(:last-child){
    margin: 28px;
    cursor: pointer;
}
.head ul li:not(:last-child):hover{
    background: #DD019F;
    transition: 1s;
}
.head button{
    border: 2px solid white;
    padding: 25px 35px;
}
.burger{
    background: url("img/burger.png") no-repeat;
    width: 48px;
    height: 48px;
    display: none;
}
.closed-menu{
    background: url("img/cross.png") no-repeat;
    background-size: contain;
    width: 38px;
    height: 38px;
    display: none;
}
.main{
    display: flex;
    justify-content: space-between;
}
.headers{
    width: 680px;
    margin-top: 215px;
    font-size: 25px;
}
.headers h3{
    margin-top: 88px;
}
.main-buttons{
    margin-top: 100px;
    margin-bottom:190px;
}
.main-buttons button:first-child{
    padding: 34px 87px 34px 31px;
    border-radius: 66px;
    font-size: 24px;
    background-color: #DD019F;
    color: white;
    border: none;
}
.main-buttons button:last-child{
    margin-left: 28px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 34px 130px 34px 22px;
    background-color: #0E0C38;
    color: white;
    font-size: 24px;
}
.main-carousel{
    width: 550px;
    height: auto;
    margin: 150px auto 0;
}
.main-carousel img{
    width: 100%;
    height: auto;
}
.home-slider.owl-carousel{
    display: flex;
    flex-direction: column;
 }
.owl-dots{
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}
.owl-dot{
    margin: 40px 0;
}

/*main-2*/
.main-2{
    background:#040221 url("img/main-2.png") no-repeat;
    background-size: cover;
    padding-bottom: 180px;
}
.main-2 .container .top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-2 .container .top h2{
    margin-top: 240px;
    margin-bottom: 150px;
    font-size: 60px;
    position: relative;
}
.main-2 .container .top h2::after{
    content: '';
    position: absolute;
    top: 36px;
    left: 440px;
    width: 200px;
    height: 2px;
    background-color: #DD019F;
}
.main-2 .top ul li{
    margin-bottom: 35px;
    font-size: 24px;
}
.main-2 .top button{
    padding: 34px 87px 34px 31px;
    border-radius: 66px;
    font-size: 24px;
    background-color: #DD019F;
    color: white;
    border: none;
}
.main-2 .container .slider{
    background: url(img/group-2.png) no-repeat -10px 350px;
    background-size: contain;
    width: 660px;
    height: 829px;
}
.main-2 .bottom h2{
    font-size: 60px;
    margin-top:230px;
    position: relative;
}
.main-2 .bottom h2::after{
    content: '';
    position: absolute;
    top: 36px;
    left: 280px;
    width: 200px;
    height: 2px;
    background-color: #DD019F;
}
.main-2 .bottom ul{
    display: flex;
    justify-content: space-between;
}
.main-2 .bottom ul li{
    background: #0E0C38;
    width: 450px;
    height: 819px;
    text-align: center;
    padding-top: 65px;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 120px;
}
.main-2 .bottom ul li img{
    margin: 55px 0 50px 0;
}
.main-2 .bottom button:first-child{
    padding: 38px 132px 35px 80px;
    border-radius: 66px;
    font-size: 24px;
    background-color: #DD019F;
    color: white;
    border: none;
}
.main-2 .bottom button:last-child{
    margin-top: 27px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 37px 126px 35px 62px;
    background-color: #0E0C38;
    color: white;
    font-size: 24px;
}
/*main-3*/
.main-3{
    background: #0E0C38 url("img/main-3.png") no-repeat;
    background-size: cover;
    padding-bottom: 265px;
}
.main-3 h2{
    font-size: 60px;
    text-align: center;
    padding-top: 130px;
    position: relative;
}
.main-3 h2::after{
    content: '';
    position: absolute;
    top: 240px;
    left: 50%;
    width: 350px;
    height: 2px;
    background-color: #DD019F;
    margin-left: -175px;
}
.main-3 h3{
    font-size: 38px;
    max-width: 598px;
    text-align: center;
    margin: 82px auto;
    line-height: 50px;
}
.main-3 ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.main-3 ul:first-of-type{
    margin-bottom: 170px;
}
.main-3 ul li p{
    width: 300px;
    margin: 55px auto;
    font-size: 25px;
}
.main-3 ul li button{
    padding: 30px 80px 30px 40px;
    border-radius: 66px;
    font-size: 24px;
    background-color: #DD019F;
    color: white;
    border: none;
    margin-top:45px;
}
.reviews{
    background:#040221;
}
.reviews h2{
    padding-top: 80px;
    text-align: center;
    font-size: 60px;
}
.reviews h3{
    font-size: 38px;
    margin-top: 40px;
    text-align: center;
}
.reviews-content{
    display: flex;
    justify-content: space-between;
}
.map{
    width: 50%;
    margin: 100px 0;
}
.map img{
    width: 610px;
    height: auto;
}
.reviews-slider {
    overflow: hidden;
}
.review-slide {
    font-size: 24px;
    width: 530px;
    margin: 100px 0px 50px 100px;
}
.owl-nav > button {
    width: 100px;
    height: 100px;
}
.owl-nav{
    display: flex;
    justify-content: flex-end;
}
.owl-nav > button > span {
    padding: 40px 45px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
.owl-prev {
    margin-right: 30px;
}
.reviews-content h2{
    font-size:28px;
}
.reviews-right-block{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.reviews-right-block .btn{
    padding: 30px 80px 30px 80px;
    border-radius: 50px;
    font-size: 24px;
    background-color: #DD019F;
    color: white;
    border: none;
    width: 390px;
    margin-top: -90px
}
/*.consultation*/
.consultation{
    padding-top: 263px;
    background-color: #0E0C38;
    padding-bottom: 135px;
}
.consultation h2{
    font-size: 60px;
    text-align: center;
    position: relative;
}
.consultation h2::before{
    content: '';
    position: absolute;
    top: -263px;
    left: 50%;
    width: 2px;
    height: 190px;
    background-color: #DD019F;
}
.consultation h2::after{
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    width: 280px;
    height: 2px;
    background-color: #DD019F;
    margin-left: -140px;
}
.consultation h3{
    font-size: 38px;
    max-width: 1240px;
    text-align: center;
    margin: 65px auto 0;
    line-height: 50px;
}
.consultation .container div:nth-child(2) ul{
    display: flex;
    justify-content: space-around;
    max-width: 1240px;
    margin: 105px auto 0;
}
.consultation .container div:nth-child(2) ul{
    margin: 52px auto 0;
}
.consultation .container div:nth-child(2) ul:nth-child(1) li input,
.consultation .container div:nth-child(2) ul:nth-child(2) li input{
    padding: 24px 75px 35px 28px;
    font-size: 40px;
    max-width: 595px;
    margin: -3px 25px;
}
.consultation .container div:nth-child(2) ul:nth-child(3) li textarea{
    width: 1238px;
    height: 205px;
    font-size: 40px;
    padding: 24px 0 0 28px;
}
.consultation .container div:nth-child(2) ul:nth-child(4) li input{
    padding: 38px 103px 35px 49px;
    border-radius: 66px;
    font-size: 24px;
    background-color: #DD019F;
    color: white;
    border: none;
}
.footer{
    height: 530px;
    background-color: #040221;
}
.footer ul{
    margin: 0 auto;
    max-width: 500px;
    padding-top:122px;
    text-align: center;
}
.footer ul li{
    font-size: 20px;
}
.footer ul li:nth-child(1){
    background: url("img/logo.png") no-repeat;
    width: 266px;
    height: 72px;
    margin: 0 auto;
    position: relative;
}
.footer ul li:nth-child(1)::before{
    content: '';
    position: absolute;
    top:-121px;
    width: 2px;
    height: 80px;
    background-color: #DD019F;

}
.footer ul li:nth-child(2){
    margin-top: 75px;
}
.footer ul li:nth-child(3){
    margin-top: 121px;
    padding-bottom: 52px;
    position: relative;
}
.footer ul li:nth-child(3)::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 50px;
    width: 80%;
    height: 2px;
    background-color: #DD019F;
}



